<h4>Hi, <%= current_user.first_name.titleize %></h4>
<a href="/logout" data-method="delete">Logout</a>

     <div class="container">
         <form action="/ideas" method="post">
             <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
             <div class="form-group">
                 <textarea name="idea[content]" id="Content" cols="10" rows="3" class="form-control"></textarea>
                 <button type="submit" class="btn btn-primary">Idea!</button>
             </div>
         </form>

         <div class="container text-danger">
             <% if flash[:errors] %>
                 <% flash[:errors].each do |error| %>
                     <div class="row">
                         <%= error %>
                     </div>
                 <% end %>
             <% end %>
         </div>
         <div>
             <% @ideas.each do |idea| %>
               <div>
                 <a href="/users/<%= idea.user.id %>"><%= idea.user.alias %></a> says:
                 <div>
                     <%= idea.content %>
                 </div>
                 <a href="/ideas/<%= idea.id %>/likes" data-method="post">Like</a> |
                 <a href="/ideas/<%= idea.id %>"><%= idea.likes.count %> people</a>  like this.
                 <% if idea.user == @user %>
                     <a href="/ideas/<%= idea.id %>" data-method="delete">Delete</a>
                 <% end %>
               </div>
               <hr>
             <% end %>
         </div>
     </div>
 </div>
